{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "28358c28d52d785293cfe932a35a7a99",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "auth0-client",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://dev-kyq64v8831k21hfm.us.auth0.com/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1018,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
            {
              "expires": "2024-02-21T11:03:00.000Z",
              "httpOnly": true,
              "maxAge": 31557600,
              "name": "did_compat",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ot-baggage-auth0-request-id",
              "value": "79cceed93b3d1fa9"
            },
            {
              "name": "ot-tracer-sampled",
              "value": "true"
            },
            {
              "name": "ot-tracer-spanid",
              "value": "23ac801c4238232c"
            },
            {
              "name": "ot-tracer-traceid",
              "value": "2507a89b0bf6f775"
            },
            {
              "name": "x-auth0-requestid",
              "value": "fd67c381b23a81d73574"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1676955781"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 728,
      },
      {
        "_id": "0feda7c6c5b3404990d18d84747ef21a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "auth0-client",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "q",
              "value": "user_id:auth0|*"
            },
            {
              "name": "include_totals",
              "value": "true"
            }
          ],
          "url": "https://dev-kyq64v8831k21hfm.us.auth0.com/api/v2/users?per_page=100&page=0&q=user_id%3Aauth0%7C%2A&include_totals=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 647,
            "text": "{\"start\":0,\"limit\":100,\"length\":2,\"users\":[{\"blocked\":false,\"created_at\":\"2023-02-21T02:33:19.083Z\",\"email\":\"johnny.gyro@gmail.com\",\"email_verified\":false,\"family_name\":\"Joestar\",\"given_name\":\"Johnny\",\"identities\":[{\"user_id\":\"johnny.joestar\",\"connection\":\"Username-Password-Authentication\",\"provider\":\"auth0\",\"isSocial\":false}],\"name\":\"Johnny Joestar\",\"nickname\":\"Tusk\",\"picture\":\"https://secure.gravatar.com/avatar/15626c5e0c749cb912f9d1ad48dba440?s=480&r=pg&d=https%3A%2F%2Fssl.gstatic.com%2Fs2%2Fprofiles%2Fimages%2Fsilhouette80.png\",\"updated_at\":\"2023-02-21T02:33:19.083Z\",\"user_id\":\"auth0|johnny.joestar\",\"user_metadata\":{},\"app_metadata\":{}},{\"blocked\":false,\"created_at\":\"2023-02-21T02:20:51.259Z\",\"email\":\"john.doe@gmail.com\",\"email_verified\":false,\"family_name\":\"Doe\",\"given_name\":\"John\",\"identities\":[{\"user_id\":\"abc\",\"connection\":\"Username-Password-Authentication\",\"provider\":\"auth0\",\"isSocial\":false}],\"name\":\"John Doe\",\"nickname\":\"Johnny\",\"picture\":\"https://secure.gravatar.com/avatar/15626c5e0c749cb912f9d1ad48dba440?s=480&r=pg&d=https%3A%2F%2Fssl.gstatic.com%2Fs2%2Fprofiles%2Fimages%2Fsilhouette80.png\",\"updated_at\":\"2023-02-21T02:20:51.259Z\",\"user_id\":\"auth0|abc\",\"user_metadata\":{},\"app_metadata\":{}}],\"total\":2}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "ot-baggage-auth0-request-id",
              "value": "79cceedcbe2a04ff"
            },
            {
              "name": "ot-tracer-sampled",
              "value": "true"
            },
            {
              "name": "ot-tracer-spanid",
              "value": "7d8929e331b40af4"
            },
            {
              "name": "ot-tracer-traceid",
              "value": "44fc0d883669f228"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "10"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "9"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1676955782"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 430,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
