{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0d1fe7e06d922a68cb16a16d2f48b9bf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "_fromType": "array",
              "name": "auth0-client",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://dev-123456777777.us.auth0.com/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 955,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
            {
              "expires": "2025-04-04T22:42:47.000Z",
              "httpOnly": true,
              "maxAge": 31557600,
              "name": "did_compat",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-auth0-dl",
              "value": "13"
            },
            {
              "name": "x-auth0-requestid",
              "value": "0b4fc09e7f0755d5e2eb"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1712248968"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 562,
      },
      {
        "_id": "db53453c311b015039d9753abe60e956",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "auth0-client",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "include_totals",
              "value": "true"
            },
            {
              "name": "sort",
              "value": "created_at:1"
            },
            {
              "name": "q",
              "value": "created_at:[1900-02-01T04:56:16.000Z TO 2024-04-04T16:42:46.449Z]"
            }
          ],
          "url": "https://dev-123456777777.us.auth0.com/api/v2/users?page=0&per_page=100&include_totals=true&sort=created_at%3A1&q=created_at%3A%5B1900-02-01T04%3A56%3A16.000Z%20TO%202024-04-04T16%3A42%3A46.449Z%5D"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 476,
            "text": "{\"start\":0,\"limit\":100,\"length\":1,\"users\":[{\"created_at\":\"2023-10-30T20:24:45.094Z\",\"email\":\"first@user.com\",\"email_verified\":false,\"identities\":[{\"connection\":\"Username-Password-Authentication\",\"user_id\":\"6540110deb764e4ff133126b\",\"provider\":\"auth0\",\"isSocial\":false}],\"name\":\"first@user.com\",\"nickname\":\"first\",\"picture\":\"https://s.gravatar.com/avatar/b56fc12a106757098d27713141fba845?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Ffi.png\",\"updated_at\":\"2023-10-30T20:24:45.094Z\",\"user_id\":\"auth0|6540110deb764e4ff133126b\"}],\"total\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "10"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "9"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1712248968"
            }
          ],
          "st[...]
