{
  "log": {
    "_recordingName": "userRecursionRecursion",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b24b5ceb74efeb364e65820286043acd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "_fromType": "array",
              "name": "auth0-client",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://dev-1twhdvfgiaaimlwz.au.auth0.com/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3583,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
            {
              "expires": "2024-09-24T23:40:42.000Z",
              "httpOnly": true,
              "maxAge": 31557600,
              "name": "did_compat",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".au.auth0.com",
              "expires": "2023-09-25T18:10:42.000Z",
              "httpOnly": true,
              "name": "__cf_bm",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ot-baggage-auth0-request-id",
              "value": "80c50dc17b4c9a48"
            },
            {
              "name": "ot-tracer-sampled",
              "value": "true"
            },
            {
              "name": "ot-tracer-spanid",
              "value": "012a6b9951824d04"
            },
            {
              "name": "ot-tracer-traceid",
              "value": "1c55d33e2e2f872c"
            },
            {
              "name": "x-auth0-requestid",
              "value": "e6b69bf69241cd576bc2"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1695663643"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 330,
      },
      {
        "_id": "294daa3b033e54c8970b2e5c00ca5319",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "auth0-client",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "include_totals",
              "value": "true"
            },
            {
              "name": "q",
              "value": "user_id:auth0|*"
            }
          ],
          "url": "https://dev-1twhdvfgiaaimlwz.au.auth0.com/api/v2/users?page=0&per_page=100&include_totals=true&q=user_id%3Aauth0%7C%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1826,
            "text": "{\"start\":0,\"limit\":100,\"length\":17,\"users\":[{\"created_at\":\"2023-09-08T16:32:37.430Z\",\"email\":\"michell.ayalagalvan+16@contractor.jupiterone.com\",\"email_verified\":false,\"identities\":[{\"connection\":\"Username-Password-Authentication\",\"user_id\":\"64fb4ca5d572a3455f2bb758\",\"provider\":\"auth0\",\"isSocial\":false}],\"name\":\"michell.ayalagalvan+16@contractor.jupiterone.com\",\"nickname\":\"michell.ayalagalvan+16\",\"picture\":\"https://s.gravatar.com/avatar/f1bab7609b4d6eb88e5734c96bc0e6b0?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fmi.png\",\"updated_at\":\"2023-09-08T16:32:37.430Z\",\"user_id\":\"auth0|64fb4ca5d572a3455f2bb758\"},{\"created_at\":\"2023-09-08T16:19:20.075Z\",\"email\":\"michell.ayalagalvan+15@contractor.jupiterone.com\",\"email_verified\":false,\"identities\":[{\"connection\":\"Username-Password-Authentication\",\"user_id\":\"64fb4988c095c872cb1970dc\",\"provider\":\"auth0\",\"isSocial\":false}],\"name\":\"michell.ayalagalvan+15@contractor.jupiterone.com\",\"nickname\":\"michell.ayalagalvan+15\",\"picture\":\"https://s.gravatar.c[...]
