{
  "log": {
    "_recordingName": "userRecursionPagination",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0d1fe7e06d922a68cb16a16d2f48b9bf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "_fromType": "array",
              "name": "auth0-client",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://dev-123456777777.us.auth0.com/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1651,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
            {
              "expires": "2024-10-30T02:36:30.000Z",
              "httpOnly": true,
              "maxAge": 31557600,
              "name": "did_compat",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ot-baggage-auth0-request-id",
              "value": "81e6736bbd09a787"
            },
            {
              "name": "ot-tracer-sampled",
              "value": "true"
            },
            {
              "name": "ot-tracer-spanid",
              "value": "3e0a317c508767ed"
            },
            {
              "name": "ot-tracer-traceid",
              "value": "1b523c9e648d8f55"
            },
            {
              "name": "x-auth0-dl",
              "value": "13"
            },
            {
              "name": "x-auth0-requestid",
              "value": "357db29ab165bf17750a"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1698698192"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 347,
      },
      {
        "_id": "db53453c311b015039d9753abe60e956",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "auth0-client",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "per_page",
              "value": "1"
            },
            {
              "name": "include_totals",
              "value": "true"
            },
            {
              "name": "q",
              "value": "user_id:auth0|*"
            }
          ],
          "url": "https://dev-123456777777.us.auth0.com/api/v2/users?page=0&per_page=1&include_totals=true&q=user_id%3Aauth0%7C%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 472,
            "text": "{\"start\":0,\"limit\":1,\"length\":1,\"users\":[{\"created_at\":\"2023-10-30T20:24:45.094Z\",\"email\":\"first@user.com\",\"email_verified\":false,\"identities\":[{\"connection\":\"Username-Password-Authentication\",\"user_id\":\"6540110deb764e4ff133126b\",\"provider\":\"auth0\",\"isSocial\":false}],\"name\":\"first@user.com\",\"nickname\":\"first\",\"picture\":\"https://s.gravatar.com/avatar/b56fc12a106757098d27713141fba845?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Ffi.png\",\"updated_at\":\"2023-10-30T20:24:45.094Z\",\"user_id\":\"auth0|6540110deb764e4ff133126b\"}],\"total\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "ot-baggage-auth0-request-id",
              "value": "81e6736de8d91ebd"
            },
            {
              "name": "ot-tracer-sampled",
              "value": "true"
            },
            {
              "name": "ot-tracer-spanid",
              "value": "5c5c759c34013c0c"
            },
            {
              "name": "ot-tracer-traceid",
              "value": "002fb3aa6dcf5d40"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "10"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "9"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1698698192"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 362,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
