{
  "log": {
    "_recordingName": "userRecursionPagination",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "28358c28d52d785293cfe932a35a7a99",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "auth0-client",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://dev-kyq64v8831k21hfm.us.auth0.com/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 959,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
            {
              "expires": "2024-03-15T19:21:44.000Z",
              "httpOnly": true,
              "maxAge": 31557600,
              "name": "did_compat",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ot-baggage-auth0-request-id",
              "value": "7a8d4d0cebaec2f0"
            },
            {
              "name": "ot-tracer-sampled",
              "value": "true"
            },
            {
              "name": "ot-tracer-spanid",
              "value": "665220a013dd7ee1"
            },
            {
              "name": "ot-tracer-traceid",
              "value": "3245d01004862c18"
            },
            {
              "name": "x-auth0-requestid",
              "value": "84fdcbe02af1e1645d72"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1678972905"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 350,
      },
      {
        "_id": "8f2d7c30aab5ea96e5f158f805608d99",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "auth0-client",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "1"
            },
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "q",
              "value": "user_id:auth0|*"
            },
            {
              "name": "include_totals",
              "value": "true"
            }
          ],
          "url": "https://dev-kyq64v8831k21hfm.us.auth0.com/api/v2/users?per_page=1&page=0&q=user_id%3Aauth0%7C%2A&include_totals=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 571,
            "text": "{\"start\":0,\"limit\":1,\"length\":1,\"users\":[{\"blocked\":false,\"created_at\":\"2023-02-21T02:33:19.083Z\",\"email\":\"johnny.gyro@gmail.com\",\"email_verified\":false,\"family_name\":\"Joestar\",\"given_name\":\"Johnny\",\"identities\":[{\"user_id\":\"johnny.joestar\",\"connection\":\"Username-Password-Authentication\",\"provider\":\"auth0\",\"isSocial\":false}],\"name\":\"Johnny Joestar\",\"nickname\":\"Tusk\",\"picture\":\"https://secure.gravatar.com/avatar/15626c5e0c749cb912f9d1ad48dba440?s=480&r=pg&d=https%3A%2F%2Fssl.gstatic.com%2Fs2%2Fprofiles%2Fimages%2Fsilhouette80.png\",\"updated_at\":\"2023-02-21T02:33:19.083Z\",\"user_id\":\"auth0|johnny.joestar\",\"user_metadata\":{},\"app_metadata\":{}}],\"total\":2}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "ot-baggage-auth0-request-id",
              "value": "7a8d4d0f19b1c2b4"
            },
            {
              "name": "ot-tracer-sampled",
              "value": "true"
            },
            {
              "name": "ot-tracer-spanid",
              "value": "26839d900f71d25f"
            [...]
