{
  "log": {
    "_recordingName": "fetch-roles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0d1fe7e06d922a68cb16a16d2f48b9bf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "_fromType": "array",
              "name": "auth0-client",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://dev-123456777777.us.auth0.com/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 959,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
            {
              "expires": "2025-04-04T20:11:19.000Z",
              "httpOnly": true,
              "maxAge": 31557600,
              "name": "did_compat",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-auth0-dl",
              "value": "12"
            },
            {
              "name": "x-auth0-requestid",
              "value": "3919f27ebb1cdc59f7b5"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1712239880"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 398,
      },
      {
        "_id": "bfe7f9afd6b2e91fa8fcec6836bc1e72",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "auth0-client",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://dev-123456777777.us.auth0.com/api/v2/roles?per_page=100&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 139,
            "text": "[{\"id\":\"rol_L6UrpxWCAlpREjk6\",\"name\":\"Some role\",\"description\":\"Hiii\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "10"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "9"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1712239881"
            }
          ],
     [...]
