{
  "log": {
    "_recordingName": "fetch-clients",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "28358c28d52d785293cfe932a35a7a99",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "auth0-client",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://dev-kyq64v8831k21hfm.us.auth0.com/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 954,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
            {
              "expires": "2024-02-21T11:03:00.000Z",
              "httpOnly": true,
              "maxAge": 31557600,
              "name": "did_compat",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ot-baggage-auth0-request-id",
              "value": "79cceed8cb52b40d"
            },
            {
              "name": "ot-tracer-sampled",
              "value": "true"
            },
            {
              "name": "ot-tracer-spanid",
              "value": "7934f1ac1de0c6ac"
            },
            {
              "name": "ot-tracer-traceid",
              "value": "627433ca31c43fb6"
            },
            {
              "name": "x-auth0-requestid",
              "value": "e82f4b9f0de698cef584"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1676955781"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 843,
      },
      {
        "_id": "607751e81d3080757df08bd4a60d45fd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "auth0-client",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://dev-kyq64v8831k21hfm.us.auth0.com/api/v2/clients?per_page=100&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 975,
            "text": "[{\"tenant\":\"dev-kyq64v8831k21hfm\",\"global\":false,\"is_token_endpoint_ip_header_trusted\":false,\"name\":\"Default App\",\"callbacks\":[],\"is_first_party\":true,\"oidc_conformant\":true,\"sso_disabled\":false,\"cross_origin_auth\":false,\"refresh_token\":{\"expiration_type\":\"non-expiring\",\"leeway\":0,\"infinite_token_lifetime\":true,\"infinite_idle_token_lifetime\":true,\"token_lifetime\":2592000,\"idle_token_lifetime\":1296000,\"rotation_type\":\"non-rotating\"},\"client_id\":\"J7jcpqUucXefja3rnOQilC5gkGR2Npi9\",\"callback_url_template\":false,\"jwt_configuration\":\"[REDACTED]\",\"grant_types\":[\"authorization_code\",\"implicit\",\"refresh_token\",\"client_credentials\"],\"custom_login_page_on\":true,\"client_secret\":\"[REDACTED]\",\"signing_keys\":\"[REDACTED]\",\"encryption_key\":\"[REDACTED]\",\"addons\":\"[REDACTED]\",\"client_metadata\":\"[REDACTED]\",\"mobile\":\"[REDACTED]\",\"native_social_login\":\"[REDACTED]\"},{\"tenant\":\"dev-kyq64v8831k21hfm\",\"global\":false,\"is_token_endpoint_ip_header_trusted\":false,\"name\":\"Auth0 Management API (Test Application)\",\"is_first_party\":true,\"oidc_conformant\":true,\"sso_disabled\":false,\"cross_origin_auth\":false,\"refresh_token\":{\"expiration_type\":\"non-expiring\",\"leeway\":0,\"infinite_token_lifetime\":true,\"infinite_idle_token_lifetime\":true,\"token_lifetime\":31557600,\"idle_token_lifetime\":2592000,\"rotation_type\":\"non-rotating\"},\"client_id\":\"JwEMI2f7z7k1Vatakpwg099SLM2cJ8L9\",\"callback_url_template\":false,\"jwt_configuration\":\"[REDACTED]\",\"token_endpoint_auth_method\":\"client_secret_post\",\"app_type\":\"non_interactive\",\"grant_types\":[\"client_credentials\"],\"custom_login_page_on\":true,\"client_secret\":\"[REDACTED]\",\"signing_keys\":\"[REDACTED]\",\"encryption_key\":\"[REDACTED]\",\"addons\":\"[REDACTED]\",\"client_metadata\":\"[REDACTED]\",\"mobile\":\"[REDACTED]\",\"native_social_login\":\"[REDACTED]\"},{\"tenant\":\"dev-kyq64v8831k21hfm\",\"global\":false,\"is_token_endpoint_ip_header_trusted\":false,\"name\":\"API Explorer Application\",\"is_first_party\":true,\"oidc_conformant\":t[...]
