{
  "log": {
    "_recordingName": "fetch-servers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0d1fe7e06d922a68cb16a16d2f48b9bf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "_fromType": "array",
              "name": "auth0-client",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://dev-123456777777.us.auth0.com/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 955,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
            {
              "expires": "2025-04-04T20:11:20.000Z",
              "httpOnly": true,
              "maxAge": 31557600,
              "name": "did_compat",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-auth0-dl",
              "value": "14"
            },
            {
              "name": "x-auth0-requestid",
              "value": "f771ae83c7f2748ea346"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1712239881"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 541,
      },
      {
        "_id": "cc4aaf1473dc6de494ee24b1407e7ab7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "auth0-client",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://dev-123456777777.us.auth0.com/api/v2/resource-servers?page=0&per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2953,
            "text": "[{\"id\":\"6540103586356dd3c425d81a\",\"name\":\"Auth0 Management API\",\"identifier\":\"https://dev-123456777777.us.auth0.com/api/v2/\",\"allow_offline_access\":false,\"skip_consent_for_verifiable_first_party_clients\":false,\"token_lifetime\":86400,\"token_lifetime_for_web\":7200,\"signing_alg\":\"RS256\",\"scopes\":[{\"description\":\"Read Client Grants\",\"value\":\"read:client_grants\"},{\"description\":\"Create Client Grants\",\"value\":\"create:client_grants\"},{\"description\":\"Delete Client Grants\",\"value\":\"delete:client_grants\"},{\"description\":\"Update Client Grants\",\"value\":\"update:client_grants\"},{\"description\":\"Read Users\",\"value\":\"read:users\"},{\"description\":\"Update Users\",\"value\":\"update:users\"},{\"description\":\"Delete Users\",\"value\":\"delete:users\"},{\"description\":\"Create U[...]
